
<form ng-submit="articles.addArticle()">
  <div>
    <input type="text" id="newArticle-url" ng-model="articles.newArticle.url" placeholder="Enter a URL">
  </div>
  <div>
    <input type="submit" value="Add">
  </div>
</form>

<div ng-init="articles.getArticles()">
<div class="articles-container">
  <div class="article" ng-repeat="article in articles.listArticles"><a href="{{article.url}}">
    <h1>{{article.title}}</h1>
      <img src="{{article.image}}">
      <h4>{{article.description}}</h4>
        <p>{{article.provider}}</p>
      </a>
  </div>
</div>
