<script>
  $(".menu-collapsed").click(function() {
    console.log('Click');
    $(this).toggleClass("menu-expanded");
  });
</script>
<div class="menu-collapsed">
  <div class="menu-background">
    <div class="bar"></div>
  </div>
<nav>
  <ul>
    <li><a ui-sref="locker"><div class="menu-link">Locker.</div></a></li>
    <li><a href="#"><div class="menu-link">About.</div></a></li>
    <li><a target="_blank" href="https://chrome.google.com/webstore/detail/locker-extension/echcameeafciikhiedhllacbfkoialdp"><div class="menu-link">Extension.</div></a></li>
    <li type="submit" ng-click="articles.logout()" class="menu-link"><a>Logout.</a></li>
  </ul>
</nav>
</div>

<div ng-init="articles.getArticles()"></div>
<div ng-repeat="article in articles.listArticles | filter: articleId" class="article-body" >
  <div class="content-info">
    <p><a href="{{ article.url }}"> {{ article.provider }} </a></p>
  </div>
  <div class="description-text">
      <h3>{{ article.title }}</h3>
  </div>
  <div ng-bind-html="article.content" id="content">
    {{ article.content }}
  </div>
  <div ng-bind-html="article.media">
    {{ article.media }}
  </div>
</div>

<!-- <div ui-view="footer"></div> -->
