<script>
  $(".menu-collapsed").click(function() {
    console.log('Click');
    $(this).toggleClass("menu-expanded");
  });
</script>
<div class="menu-collapsed">
  <div class="bar"></div>
<nav>
  <ul>
    <li><a ui-sref="locker"><div class="menu-link">Add</div></a></li>
    <li><a ui-sref="search"><div ng-click="articles.refresh()" class="menu-link">Search</div></a></li>
    <li><a target="_blank" href="https://chrome.google.com/webstore/detail/locker-extension/echcameeafciikhiedhllacbfkoialdp"><div class="menu-link">Extension</div></a></li>
    <li type="submit" ng-click="articles.logout()" class="menu-link"><a>Logout</a></li>
  </ul>
</nav>
</div>

<footer>
  <ul>
    <li><a href="#">Harlow</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Terms of Service</a></li>
    <li><a href="#">Support</a></li>
  </ul>
</footer>
