<!-- _home-signup-login.html -->

<button class="signup-input-button">Login</button>
<div login-container>
  <form ng-submit="users.loginUser()" id="getUser" >
    <div>
      <input type="text" class="signup-input" ng-model="users.getUser.email" placeholder="Email">
    </div>
    <div>
      <input type="password" class="signup-input" ng-model="users.getUser.password" placeholder="Password">
    </div>
    <div>
      <input class="signup-input-button" type="submit" value="Log In">
    </div>
  </form>
</div>

<button class="signup-input-button">Signup</button>
<div signup-container>
  <form ng-submit="users.addUser()" id="newUser">
    <div>
      <input type="text" class="signup-input" ng-model="users.newUser.name" placeholder="Name">
    </div>
    <div>
      <input type="text" class="signup-input" ng-model="users.newUser.email" placeholder="Email">
    </div>
    <div>
      <input type="password" class="signup-input" ng-model="users.newUser.password" placeholder="Password">
    </div>
    <div>
      <input class="signup-input-button" type="submit" value="Sign Up">
    </div>
  </form>
</div>

<input type="submit" ng-submit="articles.getArticles()" value="Get Articles" ui-sref="locker"></input>

</main>
