<nav class="nav-bar">
  <div class="nav-title">
    <h1>Locker.</h1>
  </div>
  <div class="nav-menu">
    <h1>Menu</h1>
  </div>
  <div class="nav-login">
    <button>Log In</button>
  </div>
</nav>
<main>
  <form ng-submit="users.addUser()" id="newUser">
    <div>
      <input type="text" id="newUser-name" ng-model="users.newUser.name" placeholder="Name">
    </div>
    <div>
      <input type="text" id="newUser-email" ng-model="users.newUser.email" placeholder="Email">
    </div>
    <div>
      <input type="password" id="newUser-password" ng-model="users.newUser.password" placeholder="Password">
    </div>
    <div>
      <input type="submit" value="Sign Up">
    </div>
  </form>


  <form ng-submit="users.loginUser()" id="getUser">
    <div>
      <input type="text" id="getUser-email" ng-model="users.getUser.email" placeholder="Email">
    </div>
    <div>
      <input type="password" id="getUser-password" ng-model="users.getUser.password" placeholder="Password">
    </div>
    <div>
      <input type="submit" value="Log In">
    </div>
  </form>
</main>
